.hc-btn {
    border-radius: 2px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.hc-btn-outline {
    background-color: transparent;
    border: 2px solid $foreground;
    color: $foreground;
    transition: all 0.3s ease;

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }

    &:hover:enabled {
        background-color: $foreground;
        color: $background;
    }

    &.emphasized {
        border: 2px solid $cyan;
        color: $cyan;

        &:hover:enabled {
            background-color: $cyan;
            color: $background;
        }
    }

    &.success {
        border: 2px solid $green;
        color: $green;

        &:hover:enabled {
            background-color: $green;
            color: $background;
        }
    }

    &.dark {
        border: 2px solid $background;
        color: $background;

        &:hover:enabled {
            background-color: $background;
            color: $foreground;
        }
    }
}
