.hc-btn {
    border-radius: 2px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.hc-btn-outline {
    background-color: transparent;
    border: 2px solid $foreground;
    color: $foreground;
    transition: all 0.3s ease;
}

.hc-btn-outline:hover {
    background-color: $foreground;
    color: $background;
}
