$background: rgb(40, 42, 54);
$current-line: rgb(68, 71, 90);
$foreground: rgb(248, 248, 242);
$comment: rgb(98, 114, 164);
$cyan: rgb(139, 233, 253);
$green: rgb(80, 250, 123);
$orange: rgb(255, 184, 108);
$pink: rgb(255, 121, 198);
$purple: rgb(189, 147, 249);
$red: rgb(255, 85, 85);
$yellow: rgb(241, 250, 140);
$gold: rgb(255,215,0);
$silver: rgb(192,192,192);
$bronze: rgb(205,127,50);
$copper: rgb(169,97,72);