.hc-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    &.error {
      background-color: rgba($red, 0.4);
    }

    &.success {
      background-color: rgba($green, 0.4);
    }
}


.hc-blur {
  backdrop-filter: blur(3px);
}

.hc-nova {
    font-family: "Nova Square", cursive;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}